/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('simplelightbox/dist/simple-lightbox.min.css');
/* Common styles */
@import url('./reset.css');

